name: Test Action Workflowa
on: [push]

jobs:
  hello_world_job:
    runs-on: macOS-latest
    env:
      PASS: ${{ secrets.PASSPHRASE }}
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Huy Do Custom action step      
      id: hello
      with:
        secret: "$PASS"
      uses: dohuutamhuy/CustomGithubAction@master    
    # Use the output from the `hello` step
    - name: Get the output time
      run: echo "Result was ${{ steps.hello.outputs.result }}"
